*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
}
body{
    font-family: "Poppins";
    background: rgb(0, 0, 0);
}
.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height:78px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}
label.logo{
    color: white;
    font-size: 30px;
    padding-top: 25px ;
    position: fixed;
    cursor: pointer;
    font-weight:600;
    
    

}
#check{
    display: none;
}
.container3{
    position: relative;

}

nav{
    height: 82px;
    width: 100%;
    box-shadow: 2px 1px 2px #eee;
    background-color: #000000;
    
    position: fixed;
    
    transition: 0.6s;
    z-index: 100000;
}


nav ul{
    float: right;
    margin-right: 100px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    

}


nav ul li a{
    
    color:white;
    font-size: 17px;
    border-radius: 30px;
    padding: 10px 15px;
    text-transform: uppercase;
}

a.active,a:hover{
    color: #b92f2f;
    cursor: pointer;
    background: none;
    padding-right: 20px;
    transition: all 0.5s ease;
    
    
}

.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height:78px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}
.container4{
    position: relative;
    
    background: no-repeat center center fixed;  
    background-size: cover; 
    
}

.container5{
    position: relative;
    
    background: no-repeat center center fixed;  
    background-size: cover; 
    
}

.container4 img{
    width: 100%;
    height: auto;
    pointer-events: none;
    justify-content: center;
    padding: 100px;
    margin-top: 82px;
    
}
.container5 img{
    width: 100%;
    height: auto;
    pointer-events: none;
    justify-content: center;
    padding: 100px;
    margin-top: 82px;
    
}
.heading{
    color: white;
    background: none;
    padding-left: 250px;
    padding-top: 250px;
} 
.heading1{
    color: white;
    background: none;
    padding-left: 250px;
    padding-top: 250px;
} 
.heading h1{
    font-size: 80px;
}
.heading1 h1{
    font-size: 80px;
}
.mainbody p{
    width: 50%;
    padding-left: 250px;
    padding-top: 50px;
    font-size: 25px;
}
.img1-text {
    top: 0;
    position: absolute;

    color:rgb(255, 0, 0);
}
.img2-text {
    top: 0;
    position: absolute;

    color:rgb(255, 0, 0);
}
.img1-text button{
    background-color: #ffffff; /* Green */
    border: none;
    color: #9c1616;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 250px;
}
.img1-text button:hover{
    color: white;
    background-color: #9c1616;
    
    transition: all 0.5s ease;

}
.img2-text button{
    background-color: #ffffff; /* Green */
    border: none;
    color: #9c1616;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 250px;
}

.img2-text button:hover{
    color: white;
    background-color: #9c1616;
    
    transition: all 0.5s ease;
}
.container4 img{
    width: 100%;
    height: auto;
    pointer-events: none;
    justify-content: center;
    padding: 100px;
    margin-top: 82px;
}
.container5 img{
    width: 100%;
    height: auto;
    pointer-events: none;
    justify-content: center;
    padding: 100px;
    margin-top: 82px;
}

/*
footer css
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    
}
*{
    
	margin:0;
	padding:0;
    background: none;
	box-sizing: border-box;
}
.container{
    background: none;

}
.container2{
	max-width: 100%;
    padding-left: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    
	
}
.slide1{
    display: flex;
}  

.row{
	display: flex;
	flex-wrap: wrap;
 
    
}
ul{
	list-style: none;
    
}
.footer{
	background-color: #000000;
    
    
}
.footer-col{
   width: 25%;
   padding: 0px 15px;
   
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
    border-radius: 20px;
	transition: all 0.3s ease;
    padding-bottom: 10px;
}
.footer-col ul li a:hover{
	color: #9c1616;
	padding-left: 8px;
    background: none;
    
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
    
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #000000;

}

/*responsive*/
@media(max-width: 767px){

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    .footer{
        position: fixed;
        bottom: 0;
        
    }
}

.stickybutton{
    position: fixed;  
    bottom: 80px;
    right: 80px;
    background: none;

}
.stickybutton button{
    background-color: #9c1616; /* Green */
    border: none;
    color: #ffffff;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    text-decoration: none;
    
    
}

.stickybutton button:hover{
    box-shadow: #e91e63 2px 2px 3px;
    transition: all 0.5s ease;
}