<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annapurna</title>
    <link rel = "stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container3">
        <nav>
            <input type="checkbox" id="check">
            <label for = "check" class="checkbtn">
                <i class="fas fa-bars" style="cursor: pointer;"></i>
            </label>
            <img src="mainlogo-photoaidcom-invert-removebg-preview.png" alt="" style="height: 64px; width:64px; margin-top: 9px; margin-left: 100px">
            <label class="logo">ANNAPURNA</label>
            <ul>
                <li><a href="active">HOME</a></li>
                <li><a href="main.css">SERVICES</a></li>
                <li><a href="aboutus.html">ABOUT US</a></li>
                

            </ul>    
        </nav>
    </div>
     
    <div class="mainbody">  
        <div class="container4">
            <img src="13.png">
            <div class="img1-text">
                <div class="heading">
                    <h1>Search for food</h1> 
                </div>
                <p style="color: aliceblue;">"Explore nearby surplus food options to satiate your hunger and combat food waste! Check out the map for convenient pickup or delivery, making a difference one meal at a time."</p>
                <button class = "btn btn-info btn-lg" style="cursor: pointer;">
                    Near you
                </button>
                
            </div>
            
        </<div>
    </div>        
    <div class="container5">
        <img src="15.png">
        <div class="img2-text">
            <div class="heading1">
                <h1>Feed your food</h1> 
            </div>
            <p style="color: aliceblue;">"Share your surplus food: donate or sell at discounted prices nearby. Make a difference, combat food waste."</p>
            <a href="feed.html"><button class = "btn btn-info btn-lg" style="cursor: pointer;">
                Add your food
            </button>
            </a>
            <a href="/map">
                <button class = "btn btn-info btn-lg" style="cursor: pointer;">
                Add location
            </button>
            </a>
        </div>
    </div>
     
    <div class="container">
        <footer class="footer">
            <div class="container2">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">shipping</a></li>
                            <li><a href="#">returns</a></li>
                            <li><a href="#">order status</a></li>
                            <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tnc" style="color: white;">
                    <a href="tnc.html"></a>
                    Terms & Conditions
                    </a>
                </div>
            </div>
            
        </footer>
    </div>
<!--feedback-->>
    <div class="container7">
        <div class="stickybutton">
            <a href="feedback.html">
            <button class = "btn btn-info btn-lg" style="cursor: pointer; bottom: 50px;">
                FEEDBACK
                
            </button>
            </a>
        </div>
    </div>
    
</body>
</html>