<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel = "stylesheet" href="assets/css/feedback.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container3">
        <nav>
            <input type="checkbox" id="check">
            <label for = "check" class="checkbtn">
                <i class="fas fa-bars" style="cursor: pointer;"></i>
            </label>
            <img src="assets/images/mainlogo-photoaidcom-invert-removebg-preview.png" alt="" style="height: 64px; width:64px; margin-top: 9px; margin-left: 100px">
            <label class="logo">ANNAPURNA</label>
            <ul>
                <li><a href="index">HOME</a></li>
                <li><a href="services">SERVICES</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                

            </ul>    
        </nav>
    </div>
    <div class="mainlink">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf9ytP4C3oAaseVM_Gj_zgNBhG7fhzVIANTkQ0ojnN1AjYRnA/viewform?embedded=true" width="640" height="2551" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    <div class="container">
        <footer class="footer">
            <div class="container2">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">shipping</a></li>
                            <li><a href="#">returns</a></li>
                            <li><a href="#">order status</a></li>
                            <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tnc" style="color: white;">
                    Terms & Conditions
                </div>
            </div>
            
        </footer>
    </div>
    
</body>
</html>